.f {
  font-size: 16px;
  max-width: 1300px;
  height: 100%;
  margin: 0 auto;
  line-height: 2rem;
  display: grid;
  grid-template:
    "... ... ...... ... ..." 0px
    "chat ... header ... tool"
    "chat ... ...... ... tool" 0px
    "chat ... center ... tool" 1fr
    "chat ... ...... ... tool" 0px
    "chat ... footer ... tool" 120px
    "... ... ...... ... ..." 0px
    / 300px 0px minmax(700px, 1fr) 5px 300px;
}

.f > header {
  grid-area: header;
}
.f > footer {
  grid-area: footer;
}
.test {
  grid-area: center;
}
.tools {
  grid-area: tool;
}
.chat {
  grid-area: chat;
}
.tools > div {
  position: sticky;
  top: 0;
}
.chat > div {
  position: sticky;
  top: 0;
}
